body {
	padding-top: 60px;
}
.navbar .container, .container {
	width:88%;
}
#main-thumbnail{
	margin-right:10px;
	border: 1px solid #DFE2E1;
	display:inline;
	width:280px;
	float:left;
}
#main-thumbnail img{
	max-width:280px;
}
.time-left{
	font-family: arial;
	font-size: 12pt;
	font-weight: bold;
	color: #F60;
	line-height: 20px;
}
.span6 .row {/*line-height:2em;*/margin-bottom:10px}
.well {width:430px}
.well .row {line-height:2.5em}
.well .span2 {width:120px}
.well .span4 {width:290px}
.sellerInfo {margin-left:10px;padding-left:15px;margin-right:-30px}
.borderTop {
	border-top:1px solid #EEE;
	margin-top:10px;
	padding-top:15px;
}