body {
	padding-top: 60px;
}
.container-fluid > .content{
	margin-left:280px;
}
#main-items tbody tr td{
	cursor:pointer !important;
}
.highlight td{
	font-weight:bold;
}
td.mini-thumbnail img{
	max-height:50px;
	max-width:100px;
}
td.mini-thumbnail{
	text-align:center;
}
.navbar .container, .container {
	width:98%;
}
input.span1 {width:86px}